<!DOCTYPE html>
<html>
	<head lang="en-us">
		<meta charset="UTF-8">
		<title>Eat Your Sushi!</title>
		<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/sushi_style.css">
	</head>
	<body>
		<img src="assets/img/sushi.png">
		<br>
		<h1>Eat Your Sushi</h1>
		<br>
		{{{ body }}}
	</body>
</html>